{% extends 'base.html.twig' %}

{% block title %}RegistrationC!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/sebas/Documents/WebFolder/Symfofy/src/Controller/RegistrationController.php</code></li>
        <li>Your template at <code>C:/Users/sebas/Documents/WebFolder/Symfofy/templates/registration/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
